/* LHIMS Style Guide - Extracted Patterns */
/* Generated: 2025-11-12T05:45:41.853Z */

:root {
  /* Primary Colors */
  --text-color-1: rgb(0, 0, 0);

  /* Background Colors */
  

  /* Border Colors */
  --border-color-1: rgb(0, 0, 0);

  /* Typography */
  --font-family: "Times New Roman";
  --font-size-base: 16px;
}

/* Component Styles to Replicate in New System */

.btn-primary {
  /* Style from LHIMS primary buttons */
  /* No primary button styles found */
}

.form-input {
  /* Style from LHIMS form inputs */
  /* No input styles found */
}

.data-table {
  /* Style from LHIMS tables */
  /* No table styles found */
}
